* {
    color: white;
}

.food_quentity_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10%;
    margin-bottom: 5%;

    .display {
        background: white;
        color: #000000;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
        font-weight: 500;
    }

    .btn-1 {
        border: 1px solid #d80000;
        border-radius: 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
    }
}


.c_table {
    width: 100%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.c_th,
.c_td {
    text-align: center;
    padding-top: 1.2%;
}

.c_select {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    border-radius: 7px;
    border: none;
    border:2px solid#000000;
    transition: all 200ms ease-in;
    &:hover{
        background: #d80000;
        color: white;
        border:2px solid#ffffff;
    }
}

.c_option {
    color: #000;
    background: #cecdcd;
}

.main_customize_main {
    background: #151212;

    .c_heading {
        font-size: 1.7rem;
        font-weight: 700;
        margin-top: 3%;
    }
}

.main_customize_main {
    width: 100%;
    /* overflow-x: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_customize_main::-webkit-scrollbar {
    display: none;
}

.main_customize_main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.c_table {
    width: 1200px;
    table-layout: fixed;
    text-align: center;
}


.submit_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    .c_btn{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 2px solid #d80000;
        border-radius: 8px;
        background: #d80000;
        font-weight: 600;
        font-size: 1rem;
        transition: all 200ms ease-in;
        cursor: pointer;
        &:hover{
            background: transparent;
        }
    }
}