@media (max-width:1114px) {
    .help_bottom_inner1 {
        .help_image img {
            width: 400px;
        }
    }
}

@media (max-width:922px) {

    .help_body_inner {
        .help_heading h1 {
            color: #ffffff;
            font-size: 3rem;
            margin-top: 2%;
    
        }
    
        .help_info {
            display: grid;
            grid-template-columns: 1fr 1fr;
    
            .help_info_inner1 .help_info_heading,
            .help_info_inner2 .help_info_heading {
                font-size: 1.3rem;
                font-weight: 600;
                margin-top: 10%;
            }
        }
    
    }
    .help_bottom_inner1 {
        .help_image img {
            width: 300px;
        }
    }
}


@media (max-width:763px) {
    .help_body_inner {
        .help_heading h1 {
            color: #ffffff;
            font-size: 2.3rem;
            margin-top: 2%;
    
        }
    
        .help_info {
            display: grid;
            grid-template-columns: 1fr 1fr;
    
            .help_info_inner1 .help_info_heading,
            .help_info_inner2 .help_info_heading {
                font-size: 1rem;
                font-weight: 600;
                margin-top: 10%;
            }
        }
    
    }
    .help_bottom_inner1 {
        .help_image img {
            width: 250px;
        }
    }
}


@media (max-width:694px) {
    .help_bottom_main {
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .help_bottom_inner1 {
        .help_image img {
            margin-top: 3%;
            width: 300px;
        }
    }

    .help_from_main{
        margin-top: 3%;
    }
}



@media (max-width:488px) {
    .help_body_inner {
        .help_heading h1 {
            color: #ffffff;
            font-size: 2rem;
            margin-top: 2%;
    
        }
    
        .help_info {
            display: grid;
            grid-template-columns: 1fr 1fr;
    
            .help_info_inner1 .help_info_heading,
            .help_info_inner2 .help_info_heading {
                font-size: 0.8rem;
                font-weight: 600;
                margin-top: 10%;
            }
            .help_info_inner1 .desc_help,
            .help_info_inner2 .desc_help {
                font-size: 0.7rem;
                font-weight: 600;
            }
        }
    
    }
    .help_bottom_inner1 {
        .help_image img {
            margin-top: 3%;
            width: 200px;
        }
    }

    .help_findus .find_heading, .help_findus1 .find_heading{
        font-size: 1rem;
    }
    .help_findus .find_desc, .help_findus1 .find_desc{
        font-size: 0.7rem;
    }


    .help_bottom_inner2 {
        .help_from_main .form_top {
            display: grid;
            grid-template-columns: 1fr;
        }
    
        .form_top1 .from_input_main {
            display: flex;
            flex-direction: column;
            padding-top: 1%;
            padding-bottom: 1%;
    
            .form_label {
                padding-bottom: 2%;
                padding-top: 3%;
                font-size: 14px;
                font-weight: 500;
            }
    
            .form_txtarea {
                width: 100% !important;
                color: black;
                border-radius: 10px;
                border: none;
                padding: 3%;
                padding-left: 3%;
                padding-right: 3%;
            }
            .form_txtarea:focus {
                outline: none;
            }
        }
    
        .form_top .from_input_main {
            display: flex;
            flex-direction: column;
            padding-top: 2%;
            padding-bottom: 2%;
    
            .form_label {
                padding-bottom: 1%;
                padding-top: 0;
                font-size: 14px;
                font-weight: 500;
            }
    
            .form_input {
                padding: 3%;
                padding-left: 3%;
                padding-right: 3%;
                color: black;
                border-radius: 6px;
                border: none;
            }
    
            .form_input:focus {
                outline: none;
            }
        }
    }
}